default: &default
  adapter: postgresql
  encoding: unicode
  host: database
  username: postgres
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: dog_walking_api_development

test:
  <<: *default
  database: dog_walking_api_test
